@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(24, 24, 27);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  /* THEME COLORS */
  --primary: #10ca8b;
  --secondary: #2f4858;
  --dark-accent: #3f3f46;
  --white-light: #d4d4d8;
  --inactive-dots-color: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(24, 24, 27);
    --background-end-rgb: rgb(24, 24, 27);
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
  position: relative;
}

canvas {
  position: fixed;
  z-index: -1;
}

main {
  position: absolute;
  left: 0;
  right: 0;
  min-width: 100%;
  max-width: 100%;
}
section {
  position: relative;
}

/* TIMELINE */
.timeline {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.timeline ul li {
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
li:first-child .point {
  background-color: #f44336;
}
.point {
  min-width: 16px;
  height: 16px;
  background-color: var(--white-light);
  border-radius: 100%;
  position: relative;
  left: 0.5px;
}
.timeline ul li .content {
  width: 50%;
}
.timeline ul li:nth-child(odd) .content {
  padding-left: 0;
}
.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}
.timeline ul li:nth-child(even) .content {
  padding-right: 0;
}
.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}
.timeline ul li .date {
  width: 50%;
  font-weight: normal;
}
.timeline ul li .date h4 {
  /* background-color: black;  Add Background Color To Date  */
  text-align: center;
  padding: 5px 16px;
}

.timeline ul li .content h3 > svg {
  color: var(--white-light);
}
.timeline ul li .content h3 {
  padding: 0px 16px;
  /* background-color: black;  Add Background Color To Card Header  */
  margin-bottom: 0;
  text-align: left;
  color: var(--white-light);
}
.timeline ul li .content p {
  padding: 0px 16px;
  /* background-color: black;  Add Background Color To Card Body  */
  margin-top: 0;
  text-align: left;
}
.timeline ul li .date h4 {
  float: right;
}
/* .timeline ul li:nth-child(even) {
  flex-direction: row-reverse;
} */
/* .timeline ul li:nth-child(even) .date h4 {
  float: right;
} */
.timeline::before {
  content: "";
  position: absolute;
  bottom: calc(25px + 8px);
  height: calc(100% - 25px - 25px);
  width: 1px;
  left: 50%;
  background-color: var(--white-light);
}
/* TIMELINE END*/

/* List items */
.showcase > div:hover .bg-dark-accent {
  background: var(--secondary);
}

.showcase > div:hover .additional-data {
  display: block; /* Display additional data */
}
.showcase > div:hover .line-clamp-3 {
  -webkit-line-clamp: unset;
}

.technologies-wrapper {
  background-color: var(--bs-light-grey);
  /* width: 5rem;
  height: 5rem;
  border-radius: 50px !important; */
  width: 100%;
  height: auto;
  border-radius: 0.3rem !important;
}
/* .technologies-wrapper[data-isOpen="true"] {
  width: 100%;
  height: auto;
  border-radius: 0.3rem !important;
} */
.technologies > img {
  width: auto;
  max-height: 2rem;
  transition: transform 0.5s;
  filter: grayscale(100);
}
.technologies :hover {
  transform: scale(1.5);
  filter: grayscale(0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
